extends layout

block content
  h1 #{title}

  form(method='POST', action='')
    div.form-group
      label(for='member_password') Password:
      input#member_password.form-control(type='password', name='member_password')
    button.btn.btn-primary(type='submit') Submit